LIST

In [1]:
#Create a list of 5 numbers and print it.
l =[2,3,4,5,6]
l

[2, 3, 4, 5, 6]

In [2]:
#Find the length of a list.
len(l)

5

In [3]:
#Access the first and last element of a list.
l[0:5:4]

[2, 6]

In [4]:
#Change the second element of a list.

l[1] = 10
l

[2, 10, 4, 5, 6]

In [5]:
#Add a new element to the end of a list.
l.append(20)

l

[2, 10, 4, 5, 6, 20]

In [6]:
#Insert an element at index 2.
l.insert(1,7)
l

[2, 7, 10, 4, 5, 6, 20]

In [7]:
#8. Find the maximum and minimum in a list.
max(l) 

min(l)

2

In [8]:
#Sort a list in ascending order.
l.sort(reverse=False)
l

[2, 4, 5, 6, 7, 10, 20]

In [9]:
#Reverse a list.
l[::-1]

[20, 10, 7, 6, 5, 4, 2]

TUPLE

In [10]:
#Create a tuple with 5 numbers and print it.
t = (2,4,6,8,10)
t

(2, 4, 6, 8, 10)

In [11]:
#Access the 3rd element of a tuple.
t[2]

6

In [12]:
#Slice a tuple from index 1 to 4.
t[0:4]

(2, 4, 6, 8)

In [13]:
#Find the length of a tuple.
len(t)

5

In [48]:
#Check if a value exists in a tuple.
num = 4
t = (1, 2, 3, 4, 5)
num in t

True

In [15]:
#Count how many times a value occurs in a tuple.
t.count(10)

1

In [17]:
#Find the index of a value in a tuple.
t.index(4)

1

In [18]:
# Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2

print(concatenated)

(1, 2, 3, 4, 5, 6)

In [19]:
#Convert a tuple into a list.
tuple1 = (1, 2, 3)
list1 = list(tuple1)
print(list1)

[1, 2, 3]

In [20]:
#Repeat a tuple 3 times.
tuple1 = (1, 2, 3)
repeated = tuple1 * 3
print(repeated)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

DICTIONARY

In [33]:
# Create a dictionary with keys: name, age, city.
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

person

{'name': 'John', 'age': 30, 'city': 'New York'}

In [34]:
#Access the value of key "name".
person["name"]

'John'

In [37]:
#Add a new key "country" to the dictionary.
person["country"] = "USA"
person

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [40]:
#Change the value of "age".
person["age"] = 35
person

{'name': 'John', 'age': 35, 'city': 'New York', 'country': 'USA'}

In [ ]:
#Remove a city from the dictionary.
del person["city"]
person

{'name': 'John', 'age': 35, 'country': 'USA'}

In [42]:
#Get all keys of a dictionary.
person.keys()

dict_keys(['name', 'age', 'country'])

In [43]:
#Get all values of a dictionary.
person.values()

dict_values(['John', 35, 'USA'])

In [45]:
#Loop through dictionary values and print them.
for value in person.values():
    print(value)

John
35
USA

In [46]:
#Check if a key exists in a dictionary.
"age" in person

True

SET

In [50]:
#Create a set of 5 numbers.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [53]:
#Add a new element to a set.
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [59]:
#Remove an element from a set.
s.remove(2)
s

{1, 4, 5, 6}

In [60]:
#Check if a value exists in a set.
5 in s

True

In [62]:
#Find the length of a set.
len(s)

4

In [63]:
#Perform union of two sets.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [66]:
#Perform intersection of two sets.
s1.intersection(s2)

{3}

In [67]:
#Perform difference of two sets.
s1.difference(s2)

{1, 2}

In [70]:
#Perform symmetric difference of two sets.
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [69]:
#Convert a list into a set.
list1 = [1, 2, 2, 3, 4, 4, 5]
set1 = set(list1)   
set1

{1, 2, 3, 4, 5}