FOR LOOP

In [2]:
# 1 to 100 numbers

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
# 1 TO 100 EVEN NUMBERS

#for i in range(2, 101, 2):
#   print(i)

for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [13]:
# 1 TO 100 odd NUMBERS



for i in range(1, 101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [14]:
#multiplication table of a number
#num = int(input("Enter a number: "))

num = 4
for i in range(1, 11):
    print(num, "*", i, "=", num * i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [9]:
#factorial of a number
num = int(input("Enter a number: "))    
factorial = 1
for i in range(1, num + 1):
    factorial = factorial * i
print("Factorial of", num, "is", factorial) 
#print(i, factorial)

Factorial of 8 is 40320

In [10]:
#print first 10 fibonacci numbers
a, b = 0, 1
for _ in range(10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [15]:
#print letter in a string one by one
s = "Hello, World!"
for char in s:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [16]:
#string reverse
string = "hello world"
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print("Reversed string:", reversed_string)

Reversed string: dlrow olleh

In [17]:
#print of squere in list
numbers = [1, 2, 3, 4, 5]   
squared_numbers = []
for num in numbers: 
    squared_numbers.append(num ** 2)
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

In [ ]:
#find max and min number in list
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
max_num = numbers[0]
min_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num
print("Max number:", max_num)
print("Min number:", min_num)

Max number: 9
Min number: 1

In [20]:
# sum of all numbers in list
numbers = [1, 2, 3, 4, 5]   
total = 0
for num in numbers:
    total += num
print("Sum of numbers:", total)

Sum of numbers: 15

WHILE LOOP

In [21]:
#1 TO 10 NUMBER BY WHILE LOOP
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [24]:
#10 TO 1 NUMBER BY WHILE LOOP
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [27]:
#print  one  number fibonacci number by while loop
a, b = 0, 1
while a <= 120:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34
55
89

In [29]:
#check number is palindrome or not by while loop
#num = int(input("Enter a number: "))    

num = 121
original_num = num
reversed_num = 0        
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
if original_num == reversed_num:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [2]:
i = 1 

while i <= 5:  # when we mention end then new line will not be created
    print("Data Science")


    j = 1
    while j <= 4:  
        print("Technology")
        j = j + 1  

    i = i + 1
    print()
    

    #the output which we got is very lengty but how t make them one line

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [3]:
#make infinite loop and use in break and continue statement
i = 1

while True:
    print(i)
    i += 1
    if i > 10:
        break
    if i == 5:
        continue
    print("This will be printed for all numbers except 5")

1
This will be printed for all numbers except 5
2
This will be printed for all numbers except 5
3
This will be printed for all numbers except 5
4
5
This will be printed for all numbers except 5
6
This will be printed for all numbers except 5
7
This will be printed for all numbers except 5
8
This will be printed for all numbers except 5
9
This will be printed for all numbers except 5
10

In [8]:
#print 1 to 100 number using do while loop , but 50 nuber is come then stop the loop
num = 1

while num <= 100:
    print(num)
    if num == 50:
        break
    num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [10]:
#print 1 to 30 number using do while loop but onliy even number is print(use continue statement)
num = 1

while num <= 30:
    if num % 2 != 0:
        num += 1
        continue
    print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [11]:
#print string in reverse order using while loop
string = "Hello, World!"    
reversed_string = ""
index = len(string) - 1

while index >= 0:
    reversed_string += string[index]
    index -= 1

print(reversed_string)

!dlroW ,olleH